h1{
    color: blue;
}


.item_lista {
    background-color:black;
    width:20%;
    list-style-type: none;
    color: white;
    text-align: center;
}

#lista-produtos {
    margin: 0 auto;
    display: flex;
    gap:2em;
    justify-content: center;

}